@import "../design-tokens/scss-variables.scss";

:root {
    --primary: #fff;
}

.btn {
    padding: 14px 28px;
    border-radius: 3px;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
    font-family: 'Bilo', Arial, Helvetica, sans-serif;
    line-height: 1em;
    letter-spacing: 0.01em;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
}

.btn--primary {
    background-color: $green;
    color: $pseudo-black;
    border: none;
}

.filter-btn {
    margin-right: 20px;
    margin-bottom: 10px;
}

.btn--medium:hover,
.btn--large:hover {
    color: $pseudo-black;
    transition: all 0.3s ease-out;
    transform: scale(1.08);
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.2);
} 

@media screen and (min-width: $tablet) {
    .btn {
        font-size: 1.125rem;
        padding: 18px 40px;
    }
}
